/vendor
/node_modules
/public/storage
/public/uploads
/public/uploads/temp/
/public/uploads/images/
/public/uploads/videos/
/public/uploads/documents/
/config/ffmpeg.php
Homestead.yaml
Homestead.json
.env
