.jqclock {
    display: block;
    padding: 10px;
    box-shadow: 0 3px 10px #A4A4A4;
    -webkit-box-shadow: 0 3px 10px #A4A4A4;
    -moz-box-shadow: 0 3px 10px #A4A4A4;
    transition: background-color 0.5s;
}


.jqclock:hover {
    background-color: azure;
}

.Timezone__Title {
    font-weight: bold;
    font-size: 1.4em;
}

.clockdate {
     color: DarkRed;
     margin-bottom: 10px;
     font-size: 1.1em;
     display: block;
}

.clocktime { 
    border: 2px inset White;
    background: Black;
    padding: 5px;
    font-size: 1em;
    font-family: "Courier";
    color: LightGreen;
    margin: 2px;
    display: block;
}

.Timezone__Container {
    padding: 5px !important;
}

.Timezone__List {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Timezone__List > li {
    display: inline !important;
    padding: 10px;
    max-width: 100px;
}