.Home__Media--object {
    width: 80px;
    height: 65px;
}

.Home__Media {
    padding: 3px;
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: 0 0 6px 1px #777;
        -moz-box-shadow: 0 0 6px 1px #777;
        -webkit-box-shadow: 0 0 6px 1px #777;
    }
}

.Home__Media--body {

    & > p {
        font-size: 1.1em;
    }
}