.Product__Show {
    
}

.Product__Show-Image {
    max-width: 100%;
    max-height: 500px;
    margin: 20px;
}

#Product__Show-Image-active {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 5px;
    transition: border 0.3s;
    cursor: zoom-in;

    &:hover {
        border: 1px solid #2196f3;
    }
}

.Product__Show-Image--Container {
    padding: 20px;
    margin-bottom: 20px;
}

.Product__Show--description {
    padding: 20px;
    font-size: 1.2em;
    display: inline-block;
    word-break: break-word;
}

.Product__Show--Procedure-Container {
    margin: 20px 0;
}

.Product__Show--Procedure-Title {
    color: #212121;
    background-color: #f5f5f5;
    border-color: #dddddd;
    display: block;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.Product__Show--Step-Container {
    margin: 10px 0;
}

.Product__Show--Step-Title {
    font-size: 1.4em;
    font-weight: bold;
}
.Product__Show--Step-Content{
    font-size: 1.2em;
}
.Product__Show--Step-Content-Image {
    max-width: 500px;
    max-height: 400px;
}

.tab-pane {
    padding-bottom: 50px;
    padding-top: 20px;
}