.Product__Show {
    
}

.Product__Show-Image {
    width: 100%;
}

.Product__Show-Image--Container {
    padding: 20px;
    margin-bottom: 20px;
}

.Product__Show--description {
    padding: 20px;
    font-size: 1.2em;
    display: inline-block;
    word-break: break-word;
}

.tab-pane {
    padding-bottom: 50px;
    padding-top: 20px;
}