@import 'bootstrap-default.min';

@import 'variables';
@import 'general';
@import 'sb-admin';

@import 'admin/components/navbar';
@import 'admin/components/tree';

.product-action-menu {
    right: 0 !important;
    left: inherit !important;
}

.btn-circle {
    border-radius: 50%;
}