.Question {
    padding: 20px 20px;
    border-width:1px;   
    border-top-style:outset;
    transition: box-shadow 0.5s;
}

.Question:hover {
    box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shadow: 0 10px 6px -6px #777;
}

.Question:hover .Question__Number {
    background-color: $lightblue;
    color: black;
}

.Question__Number--Container {
    text-align: center;
}

.Question__Number {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: $dark;
    color: $white;
    text-align: center;
    font-size: 2em;
    margin: auto auto;
    transition: background-color 0.5s, color 0.5s;
}


.Question__Title {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: #666666;
}

.Question__Description {

}
