 .Sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: $dark;
    top: 0;
    z-index: 1002;
    left: -250px;
    transition: left 0.5s;
}

.Sidebar.active {
    left: 0px;
}

.Sidebar__Toggle {
    @extend .btn-primary;
    position: fixed;
    top: 45%;
    z-index: 1001;
    left: -13px;
    opacity: 1;
    transition: opacity 1.5s;

    &:after {
        content: '>';
        font-size: 2em;
    }

    &.active {
        opacity: 0;
        // left: 237px;

        // &:after {
        //     content: '<' !important;
        // }
    }
 }

 .Sidebar__Title {
    font-size: 2.1em;
    font-weight: bold;
    display: block;
    background-color: $darkblue;
    color: $white;
    text-align: center;
 }